@font-face {
  font-family: "iconfont"; /* Project id 4854435 */
  src: url('iconfont.woff2?t=1741830491249') format('woff2'),
       url('iconfont.woff?t=1741830491249') format('woff'),
       url('iconfont.ttf?t=1741830491249') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.claim-icon-time:before {
  content: "\e834";
}

.claim-icon-loading:before {
  content: "\e83d";
}

.claim-icon-success:before {
  content: "\e843";
}

.claim-icon-baobeiguanli:before {
  content: "\e60d";
}

.claim-icon-xiangmuguanli:before {
  content: "\e60e";
}

.claim-icon-xiangmubaobei:before {
  content: "\e60f";
}

.claim-icon-xiangmumingcheng:before {
  content: "\e610";
}

.claim-icon-renyuanguanli:before {
  content: "\e611";
}

.claim-icon-fangyuanguanli:before {
  content: "\e612";
}

.claim-icon-dianzihetongguanli:before {
  content: "\e613";
}

.claim-icon-fangyuanbaobei:before {
  content: "\e614";
}

.claim-icon-houtaiguanli:before {
  content: "\e615";
}

.claim-icon-a-yingxiaogongju_hc3x:before {
  content: "\e616";
}

.claim-icon-jigoumendianguanli:before {
  content: "\e617";
}

.claim-icon-liuchengshenhe:before {
  content: "\e618";
}

.claim-icon-liuchengshenpi:before {
  content: "\e619";
}

.claim-icon-yewubaobiao:before {
  content: "\e61a";
}

.claim-icon-xiaoshouguanli:before {
  content: "\e61b";
}

.claim-icon-yongjin:before {
  content: "\e61c";
}

