@font-face {
  font-family: "iconfont"; /* Project id 4854435 */
  src: url('iconfont.woff2?t=1741741531092') format('woff2'),
       url('iconfont.woff?t=1741741531092') format('woff'),
       url('iconfont.ttf?t=1741741531092') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.time:before {
  content: "\e834";
}

.loading:before {
  content: "\e83d";
}

.success:before {
  content: "\e843";
}

.baobeiguanli:before {
  content: "\e60d";
}

.xiangmuguanli:before {
  content: "\e60e";
}

.xiangmubaobei:before {
  content: "\e60f";
}

.xiangmumingcheng:before {
  content: "\e610";
}

.renyuanguanli:before {
  content: "\e611";
}

.fangyuanguanli:before {
  content: "\e612";
}

.dianzihetongguanli:before {
  content: "\e613";
}

.fangyuanbaobei:before {
  content: "\e614";
}

.houtaiguanli:before {
  content: "\e615";
}

.a-yingxiaogongju_hc3x:before {
  content: "\e616";
}

.jigoumendianguanli:before {
  content: "\e617";
}

.liuchengshenhe:before {
  content: "\e618";
}

.liuchengshenpi:before {
  content: "\e619";
}

.yewubaobiao:before {
  content: "\e61a";
}

.xiaoshouguanli:before {
  content: "\e61b";
}

.yongjin:before {
  content: "\e61c";
}

