// @forward "element-plus/theme-chalk/src/common/var.scss" with (
//     $colors: (
//         //主色
//         "primary": ("base": #2d61f4),
//         "success": (
//             //成功色
//             "base": #2d61f4
//         ),
//         "warning": (
//             //警告色
//             "base": #2d61f4
//         ),
//         "danger": (
//             //危险色
//             "base": #2d61f4
//         ),
//         "error": (
//             //错误色
//             "base": #2d61f4
//         ),
//     )
// );
// :deep(.el-date-editor.el-input__wrapper) {
//     width: auto !important;
// }
// $--colors: (
//     "primary": (
//         "base": #f4364c,
//     ),
// );

// @forward "element-plus/theme-chalk/src/common/var.scss" with (
//     $colors: $--colors,
//     $date-editor: (
//         "daterange-width": 260px,
//     )
// );

// 上述主题色设置失败 故采用通过 CSS 变量设置 https://element-plus.org/zh-CN/guide/theming.html#%E9%80%9A%E8%BF%87-css-%E5%8F%98%E9%87%8F%E8%AE%BE%E7%BD%AE
:root {
    --el-color-primary: #2d61f4;
    --el-color-success: #8bfb0b;
    --el-color-warning: #ffc107;
    --el-color-danger: #f56c6c;
    --el-color-error: #ff5722;
    --el-color-info: #909399;

    color-scheme: light;
    --el-color-white: #ffffff;
    --el-color-black: #333;
    --el-color-primary: #2d61f4;
    --el-color-primary-light-3: #5469f0;
    --el-color-primary-light-5: #5461d6; // hover效果
    --el-color-primary-light-7: #b3d8d7;
    --el-color-primary-light-8: #cce5e5;
    --el-color-primary-light-9: #e6f2f2;
    --el-color-primary-dark-2: #0a6e6d;
    --el-color-success: #8bc34a;
    --el-color-success-light-3: #aed580;
    --el-color-success-light-5: #c5e1a5;
    --el-color-success-light-7: #dcedc9;
    --el-color-success-light-8: #e8f3db;
    --el-color-success-light-9: #f3f9ed;
    --el-color-success-dark-2: #79a645;
    --el-color-warning: #ffc107;
    --el-color-warning-light-3: #ffd451;
    --el-color-warning-light-5: #ffe083;
    --el-color-warning-light-7: #ffecb5;
    --el-color-warning-light-8: #fff3cd;
    --el-color-warning-light-9: #fff9e6;
    --el-color-warning-dark-2: #d6a510;
    --el-color-danger: #f56c6c;
    --el-color-danger-light-3: #f89898;
    --el-color-danger-light-5: #fab6b6;
    --el-color-danger-light-7: #fcd3d3;
    --el-color-danger-light-8: #fde2e2;
    --el-color-danger-light-9: #fef0f0;
    --el-color-danger-dark-2: #ce6161;
    --el-color-error: #ff5722;
    --el-color-error-light-3: #ff8964;
    --el-color-error-light-5: #ffab91;
    --el-color-error-light-7: #ffcdbd;
    --el-color-error-light-8: #ffddd3;
    --el-color-error-light-9: #ffeee9;
    --el-color-error-dark-2: #d65025;
    --el-color-info: #909399;
    --el-color-info-light-3: #b1b3b8;
    --el-color-info-light-5: #c8c9cc;
    --el-color-info-light-7: #dedfe0;
    --el-color-info-light-8: #e9e9eb;
    --el-color-info-light-9: #f4f4f5;
    --el-color-info-dark-2: #7d8085;
    --el-bg-color: #ffffff;
    --el-bg-color-page: #f2f3f5;
    --el-bg-color-overlay: #ffffff;
    --el-text-color-primary: #303133;
    --el-text-color-regular: #606266;
    --el-text-color-secondary: #909399;
    --el-text-color-placeholder: #a8abb2;
    --el-text-color-disabled: #c0c4cc;
    --el-border-color: #dcdfe6;
    --el-border-color-light: #e4e7ed;
    --el-border-color-lighter: #ebeef5;
    --el-border-color-extra-light: #f2f6fc;
    --el-border-color-dark: #d4d7de;
    --el-border-color-darker: #cdd0d6;
    --el-fill-color: #f0f2f5;
    --el-fill-color-light: #f5f7fa;
    --el-fill-color-lighter: #fafafa;
    --el-fill-color-extra-light: #fafcff;
    --el-fill-color-dark: #ebedf0;
    --el-fill-color-darker: #e6e8eb;
    --el-fill-color-blank: #ffffff;
    --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04),
        0px 8px 20px rgba(0, 0, 0, 0.08);
    --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
    --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
    --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08),
        0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
    --el-disabled-bg-color: var(--el-fill-color-light);
    --el-disabled-text-color: var(--el-text-color-placeholder);
    --el-disabled-border-color: var(--el-border-color-light);
    --el-overlay-color: rgba(0, 0, 0, 0.8);
    --el-overlay-color-light: rgba(0, 0, 0, 0.7);
    --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
    --el-mask-color: rgba(255, 255, 255, 0.9);
    --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
    --el-border-width: 1px;
    --el-border-style: solid;
    --el-border-color-hover: var(--el-text-color-disabled);
    --el-border: var(--el-border-width) var(--el-border-style)
        var(--el-border-color);
    --el-svg-monochrome-grey: var(--el-border-color);
}

.modal-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px !important;
}
.modal-body {
    padding: 10px 0;
}
.el-date-editor {
    width: 100%;
}
