::-webkit-scrollbar-button {
    display: none;
    z-index: 999999;
  }

  ::-webkit-scrollbar-track {
    background: none;
    z-index: 999999;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: none;
    z-index: 999999;
  }

  ::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 5px;
    z-index: 999999;
  }

  ::-webkit-scrollbar-corner {
    background: #f5f5f5;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
  }

  ::-moz-scrollbar-button {
    display: none;
    z-index: 999999;
  }

  ::-moz-scrollbar-track {
    background: none;
    z-index: 999999;
  }

  ::-moz-scrollbar-track-piece {
    background-color: none;
    z-index: 999999;
  }

  ::-moz-scrollbar-thumb {
    background: #ddd;
    border-radius: 5px;
    z-index: 999999;
  }

  ::-moz-scrollbar-corner {
    background: #f5f5f5;
  }

  ::-moz-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-moz-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.1);
  }

  ::-moz-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
  }

  ::-moz-scrollbar-thumb:hover {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
  }

  ::-o-scrollbar-button {
    display: none;
    z-index: 999999;
  }

  ::-o-scrollbar-track {
    background: none;
    z-index: 999999;
  }

  ::-o-scrollbar-track-piece {
    background-color: none;
    z-index: 999999;
  }

  ::-o-scrollbar-thumb {
    background: #ddd;
    border-radius: 5px;
    z-index: 999999;
  }

  ::-o-scrollbar-corner {
    background: #f5f5f5;
  }

  ::-o-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-o-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.1);
  }

  ::-o-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
  }

  ::-o-scrollbar-thumb:hover {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
  }

  ::-ms-scrollbar-button {
    display: none;
    z-index: 999999;
  }

  ::-ms-scrollbar-track {
    background: none;
    z-index: 999999;
  }

  ::-ms-scrollbar-track-piece {
    background-color: none;
    z-index: 999999;
  }

  ::-ms-scrollbar-thumb {
    background: #ddd;
    border-radius: 5px;
    z-index: 999999;
  }

  ::-ms-scrollbar-corner {
    background: #f5f5f5;
  }

  ::-ms-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-ms-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.1);
  }

  ::-ms-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
  }

  ::-ms-scrollbar-thumb:hover {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  /* 火狐 */

  input[type='number'] {
    -moz-appearance: textfield;
  }

  .elx-table--tooltip-wrapper {
    max-width: 800px;
  }